// 修改element-plus默认样式的样式

// ----- 对话框内容居中 -----
.el-dialog .el-dialog__body {
  text-align: center;
}

// ---------- 以下处理element-plus从^1.0.2-beta.28升级到^2.0.4后出现的样式问题 ----------
// PS: 以下的样式会全局生效，导致全局的输入框都没有边框
// 处理input框的白/蓝边
// .el-input__inner {
//   box-shadow: none !important;
//   --el-select-input-focus-border-color: none !important;
// }

// 处理input白色背景
// .el-input__wrapper {
//   background: none !important;
//   box-shadow: none !important;
//   --el-select-input-focus-border-color: none !important;
// }

// 处理图片的灰色底
.el-avatar {
  --el-avatar-background-color: none !important;
}
.el-avatar {
  --el-avatar-bg-color: none !important;
}

// ----- 解决button点击完后要点空白地方才能失焦恢复原颜色的问题（用默认色覆盖button组件focus状态的颜色） -----
.el-button:focus {
  color: var(--el-button-text-color);
  border-color: var(--el-button-border-color, var(--el-button-hover-color));
  background-color: var(--el-button-bg-color);
}
.el-button:hover {
  color: var(--el-button-hover-text-color);
  border-color: var(--el-button-hover-border-color, var(--el-button-hover-bg-color));
  background-color: var(--el-button-hover-bg-color);
}
